{% load widget_tweaks %}
<form class="" action="{% url 'main:call_back_form' %}" method="POST">
	{% csrf_token %}
	<div class="mb-3">
		<label class="form-label">Введите номер телефона чтобы мы смогли с вами связвться</label>
		{{ call_back_form.phone_number|add_class:"form-control phone_mask"|append_attr:"placeholder:Введите номер телефона" }}
	</div>
	<div class="mb-3">
		<label class="form-label">Введите вашу имю</label>
		{{ call_back_form.first_name|add_class:"form-control"|append_attr:"placeholder:Ваша имя" }}
	</div>
	<div class="d-sm-flex justify-content-end">
		<button type="submit" class="btn btn-primary mb-0">Оставить заявку</button>
	</div>
</form>
