{% load widget_tweaks %}
Көлік классы:
{{demand_distributions.demand.type_task}}<br>
Точка А:
{{demand_distributions.demand.pick_up}}<br>
Точка В:
{{demand_distributions.demand.drop_off}}<br>
Жүргізуші ұсынған баға:
{{demand_distributions.price}}тг<br>

<form class="row g-4" action="{{ request.path }}" method="POST" id="form-universal-modal">
     {% csrf_token %}
    <div class="modal-body">
        <p class="mb-0 color-red"> Телефон нөміріңізді қалдырып, жүргізушіні таңдаңыз</p>
        {{ form.phone_number|add_class:"form-control"|attr:"placeholder:+7 (___) ___-__-__"|attr:"id:id_phone_number" }}
        {{ form.status.as_hidden }}
        {{ form.is_expert_selected.as_hidden }}
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-danger btn-sm" value="Сақтау">
        <a href="" class="btn btn-secondary btn-sm">Артқа</a>
    </div>
</form>