{% load crispy_forms_tags %}
<form action="{{ request.path }}" method="POST" id="form-register-modal" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="form-demand-content">
        <div class="row"> 
            {% include 'task_management/demand/form_inner.html' %}        
        </div>
    </div>
    <hr>
    <div class="d-none file-content">
    	<div class="row">
    		<div class="col-md-6">
    			{{ register_form.email|as_crispy_field }}
    		</div>
    		<div class="col-md-6">
    			{{ register_form.password1|as_crispy_field }}
    		</div>
    	</div>
    </div>
    <input type="hidden" name="role" id="id_role" value="1">
    <div class="text-center">
    	<div class="row">
    		<div class="col-md-4 col-sm-12 m-auto">
    			<input type="submit" id="ajax" class="text-black w-100 bg-warning rounded btn" value="Сохранить">
    		</div>
    	</div>
    </div>
</form>
